/*===============GLOBAL===============*/
html {
  font-family: Raleway, sans-serif;
}
main {
  margin: auto;
  max-width: 1440px;
}
body {
  margin: 0;
}

/*===============HAUT DE PAGE===============*/

header {
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo fill ancres";
  display: grid;
  align-items: center;
  margin-top: 0;
}

.header_img {
  grid-area: logo;
}

.logo {
  max-width: 100%;
  width: 100px;
  padding: 0 2rem;
}

/* Pas propre mais ça fait ce qu'il faut. A modifier plus tard */
.colonnefill {
  grid-area: fill;
} /* Pas propre mais ça fait ce qu'il faut. A modifier plus tard */

.ancres {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "ancreH ancreA ancreI";
  grid-area: ancres;
}

/* Pour la mise en forme têtue des links */
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
} /* Pour la mise en forme têtue des links */

.ancreH a {
  color: #0065fc;
}

.ancreH {
  grid-area: ancreH;
  padding: 2rem;
  border-top: 3px solid #0065fc;
}

.ancreA a {
  color: black;
}

.ancreA {
  grid-area: ancreA;
  padding: 2rem;
}

.ancreI a {
  color: #0065fc;
  font-weight: bold;
}

.ancreI {
  grid-area: ancreI;
  padding: 2rem;
}

/*==============================MAIN==============================*/

/*===============EN-TETE===============*/
.entete {
  padding: 0 2rem;
}

.titre {
  line-height: 1.15;
  align-items: justify;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.titre > p {
  margin-top: 0;
}

p {
  display: inline-flex;
}
/*===============RECHERCHE===============*/

.input_search {
  display: inline-flex; /*  <== Solution à une galère de plus d'une heure !*/
}

/*====icone====*/
.iconsearch {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  text-align: center;
  border-radius: 1rem 0 0 1rem;
}
/*====input====*/
input[type="search"] {
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  border-right: none;
  border-left: none;
  width: 14rem;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 1.5rem;
}
/*====bouton====*/
.boutonrecherche {
  background-color: #0065fc;
  border-radius: 0 1rem 1rem 0;
  border: none;
  padding: 0 1.5rem;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}
/*===============FILTRES===============*/
.filtres {
  display: flex;
  margin-top: 2rem;
}
/*====titre====*/
.filtres h2 {
  display: flex;
  margin-right: 2rem;
  margin-top: 0.5em;
}

/*======Boutons======*/
.boutonfiltre {
  display: inline-flex;
  border: 2px solid #f2f2f2;
  border-radius: 3rem;
  font-weight: bold;
  align-items: center;
  margin-right: 2rem;
  height: max-content;
  cursor: pointer;
}

/*===icone bouton====*/

.iconebouton {
  display: inline-flex;
  background-color: #deecff;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.iconebouton .fas {
  color: #0065fc;
}

/*======paragraphe======*/
.filtrep {
  margin-bottom: 1.5rem;
}
.filtres p {
  margin: 0 1rem;
}
/*====iconeparagraphe====*/
.iconeinfo .fas {
  color: #0065fc;
  border: 1px solid #e2e2e2;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

/*=========================BOITES==========================*/
/*=========================BOITES==========================*/
/*=========================BOITES==========================*/

.boites {
  grid-template-columns: 6fr 3fr;
  display: grid;
  column-gap: 2rem;
}

.fa-star {
  color: #0065fc;
}

.star-grey {
  color: #f2f2f2;
}
/*===============POPULAIRE===============*/
/*===============POPULAIRE===============*/
.populaire {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 2rem;
}

/*======Titre======*/
.titrepopulaire {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.titrepopulaire h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}
/*======catégorie======*/

.populaireboite {
  display: grid;
  align-items: start;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
}

/*======carte======*/
.populairecarte {
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.3rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px lightgrey;
  display: flex;
  align-items: stretch;
  height: 100%;
}

/*======Contenu carte======*/

.populairecartecontenu {
  display: flex;
  flex-direction: column;
}

.populairecartecontenu h3 {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.populairecartecontenu p {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.populairecartecontenu b {
  margin-left: 0.25rem;
}
.populairenote {
  margin-top: auto;
  margin-bottom: 0.25rem;
  margin-left: 0.75rem;
}
.populairecarte img {
  width: 33%;
  min-width: 33%;
  max-width: 33%;
  min-height: 100%;
  max-height: 9rem;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}
/*===============HEBERGEMENT===============*/
/*===============HEBERGEMENT===============*/

/*======Titre======*/
.hebergements h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}
/*======catégorie======*/
.hebergements {
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 1.5rem;
  margin-left: 2rem;
}
/*======boites======*/
.hebergementsboites {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}
/*======carte======*/
.hebergementcarte {
  border-radius: 1rem;
  background-color: white;
  cursor: pointer;
  padding: 0.3rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px lightgrey;
}
/*======Contenu carte======*/

.hebergementnom h3 {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.hebergementprix p {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.hebergementprix b {
  margin-left: 0.25rem;
}
.hebergementnote {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  display: inline-block;
}

.hebergementcarte img {
  height: 7rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

/*======Afficherplus======*/
.afficherplus p {
  font-weight: bold;
  cursor: pointer;
  display: flex-end;
  margin-top: 3rem;
}

/*===============ACTIVITES===============*/
.activites {
  margin-left: 2rem;
  margin-top: 4rem;
}

.activitesbox {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  max-height: 30rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.activitescartes {
  border-radius: 1rem;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 15px lightgrey;
}

/*======Emplacements cartes======*/
.activitescarteA {
  grid-row: 1 / span 2;
  grid-column: 1/1;
}
.activitescarteB {
  grid-row: 1/1;
  grid-column: 2/2;
}
.activitescarteC {
  grid-row: 1 / span 2;
  grid-column: 3/3;
}
.activitescarteD {
  grid-row: 1/1;
  grid-column: 4/4;
}
.activitescarteE {
  grid-row: 2/2;
  grid-column: 2/2;
}
.activitescarteF {
  grid-row: 2/2;
  grid-column: 4/4;
}

.activitesbox img {
  height: 100%;
  object-fit: cover;
}

.activitescartes h3 {
  margin: 1.2rem 1.5rem;
}
/*==============================FOOTER==============================*/

footer {
  background-color: #f2f2f2;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

.footerboite {
  width: 1440px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}
.footercolonne {
  display: grid;
  align-content: flex-start;
  padding: 2rem 2rem;
}
footer p {
  margin: 0.75rem 0;
}
